doctype

html(lang='en')
  head
    - var title = "Demo Coursecode"
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.svg?v=13')

    meta(property='og:url', content='#{title}')
    meta(property='og:image', content='/img/ogg.png?v=1.2')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='#{title}')
    meta(property='og:site_name', content='#{title}')
    meta(property='og:description', content='#{title}')
    meta(property='og:type', content='#{title}')
    meta(name='description', content='#{title}')
    meta(name='keywords', content='#{title}')

    
  body <!--(data-img="img/1.png")-->
    //bar-long
    .bar-long
    //END bar-long
    
    header
      .container(hidden)
        .row
          .col.m3.s3.l3.xl3
            .box__logo
              img.logo(src='#', alt='Logo')

          .col.m9.s9.l9.xl9

            ul.menu
              li
                a.scroll(href="#about" target="_blank") about
              li
                a.scroll(href="#services") services
              li
                a.scroll(href="#contact") contact

    section.section__top(hidden)
      .container
        .row
          .col.m12.s12.l12.xl12
            h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptatem, iure saepe facere omnis provident, dolorum numquam eveniet praesentium quam.
            
    section.section__1
    section.section__2
    section.section__3
    section.section__4
    section.section__5

    section.section__999(hidden)
       .container
        .row
          .col.m12.s12.l8.xl7
            .block

              .block__form
                form(method='POST', action='javascript:void(null);')
                  // Hidden Required Fields
                  .form_input
                    span.field
                      input.name(type='text', name='name', required='', value='', placeholder='Name')
                  .form_input
                    span.field
                      input.mail(type='email', name='email', required='', value='', placeholder='Email')
                  .form_input
                    span.field
                      input.ferstname(type='text', name='subject', required='', value='', placeholder='Subject')
                  .form_input
                    span.field
                      textarea.textarea(name='message', required='', value='', placeholder='Message')

                  button.blue(type='submit', name='send') SEND

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

    footer
      .container
        .row
          .col.m12.s12.l12.xl12
            p &reg; 2020 #{title} All Rights Reserved





    




